body{
    background-color: burlywood;
    padding-top: 20px;
   
  
}
h3{
    color: rgb(183, 143, 221);
}
p{
    color: rgb(16, 5, 60);
    font-family: monospace;
}
.badge-margin-left-40{
    margin-left:520px;
}
li{
    margin-top: 10px;
}